.classpath
*.log
*.db
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# Eclipse project files
.project
.settings/
target/
bin
core/test.txt

# unwanted TeX crap
*.aux
*.log
*.synctex.gz
*.toc
*.out

# OSX crap
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
